@model IEnumerable<_1640_Project.Models.Idea>

@{
    ViewBag.Title = "View";
}

<header>
    <style>
        /* Styles for wrapping the search box */

        .main {
            width: 50%;
            margin: 50px auto;
        }

        /* Bootstrap 4 text input with search icon */

        .has-search .form-control {
            padding-left: 2.375rem;
            margin-bottom: 1rem;
        }

        .sorting {
            padding: 1.5rem;
        }

        .slogan {
            margin-top: 3.5rem;
            text-align: center;
            margin-bottom: 0;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    </style>
</header>

<h2 class="slogan">WELCOME, WE HAPPY TO SEE YOU THERE</h2>

<div class="w3-container" style="padding:10px 16px">

    <div class="w3-container w3-card w3-white w3-round w3-margin form-group has-search" style="padding: 1.5rem">
        <form action="/home/view">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="hidden" name="Sub" value="@ViewBag.SubID" />
            <input class="form-control" type="search" name="Search" placeholder="Search" value="@ViewBag.Search" />
        </form>

        <span>
            <a class="sorting" href="/home/view?Sub=@ViewBag.SubID&SortColumn=TopView">Top View Ideas</a>
        </span>
        <span>
            <a class="sorting" href="/home/view?Sub=@ViewBag.SubID&SortColumn=TopLike">Top Like Ideas</a>
        </span>
        <span>
            <a class="sorting" href="/home/view?Sub=@ViewBag.SubID&SortColumn=Newest">Newest Ideas</a>
        </span>

    </div>

    @if (ViewBag.DeadLine == 0)
        {
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">DeadLine is Gone.</h6>
                            <a href="/ideas/create?submit=@ViewBag.SubID" class="w3-button w3-theme hidden"><i class="fa fa-pencil"></i>  Make Idea</a>
                        </div>
                    </div>
                </div>
            </div> 
        }
        else
        {
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">Upload Your Idea Here</h6>
                            <a href="/ideas/create?submit=@ViewBag.SubID" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Make Idea</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    <hr />

    <h3>All Other Ideas</h3>

    <hr />

    @foreach (var item in Model)
    {
        <div class="w3-container w3-card w3-white w3-round w3-margin">
            <br>
            <h4><a href="/ideas/details?idea=@item.IdeaID&sub=@item.SubmissionID">@item.Title</a></h4><br>
            <p>Upload in: @item.CreateDate by: @item.User.Name</p>

            @if (item.CurrentUserVoteType < 1 && item.UserID != Convert.ToInt32(Session["CurrentUserID"]))
            {
                <form action="/ideas/like?idea=@item.IdeaID&sub=@item.SubmissionID&user=@Session["CurrentUserID"]" method="post" class="w3-theme-d1 w3-margin-bottom">
                    <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                    <input type="hidden" name="IdeaID" value="@item.IdeaID" />
                    <input type="hidden" name="VoteValue" value="1" />
                    <button type="submit" class="w3-button"><i class="fa fa-thumbs-o-up"></i> Like</button>
                </form>
            }
            else if (item.CurrentUserVoteType > 0 && item.UserID != Convert.ToInt32(Session["CurrentUserID"]))
            {
                <form action="/ideas/dislike?idea=@item.IdeaID&sub=@item.SubmissionID&user=@Session["CurrentUserID"]" method="post" class="w3-theme-d1 w3-margin-bottom">
                    <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
                    <input type="hidden" name="IdeaID" value="@item.IdeaID" />
                    <input type="hidden" name="VoteValue" value="-1" />
                    <button type="submit" class="w3-button"><i class="fa fa-thumbs-up"></i> DisLike</button>
                </form>
            }


            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  @item.CommentCount</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-address-book"></i>  @item.Category.CategoryName</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  @item.VotesCount</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-eye"></i>  @item.ViewCount</button>
        </div>
    }

</div>

@{
    int PrevPageNo = ViewBag.PageNo - 1;
    if (PrevPageNo <= 0)
    {
        PrevPageNo = 1;
    }

    int NextPageNo = ViewBag.PageNo + 1;
    if (NextPageNo > ViewBag.NoOfPages)
    {
        NextPageNo = ViewBag.NoOfPages;
    }
}
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="/home/view?Sub=@ViewBag.SubID&PageNo=@PrevPageNo">Prev</a>
    </li>
    @for (int i = 0; i < ViewBag.NoOfPages; i++)
    {
        if ((i + 1) == ViewBag.PageNo)
        {
            <li class="page-item active">
                <a class="page-link" href="/home/view?Sub=@ViewBag.SubID&PageNo=@(i + 1)">@( i + 1)</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="/home/view?Sub=@ViewBag.SubID&PageNo=@(i + 1)">@( i + 1)</a>
            </li>
        }
    }
    <li class="page-item">
        <a class="page-link" href="/home/view?Sub=@ViewBag.SubID&PageNo=@NextPageNo">Next</a>
    </li>
</ul>
