@model IEnumerable<_1640_Project.Models.Idea>

@{
    ViewBag.Title = "View";
}


<div class="w3-container" style="padding:128px 16px">
    <div class="w3-row-padding">
        <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                    <h6 class="w3-opacity">Upload Your Idea Here</h6>
                    <a href="/ideas/create?submit=@ViewBag.SubID" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Make Idea</a>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <h3>ALL OTHER IDEAS</h3>

    @foreach (var item in Model)
    {
<div class="w3-container w3-card w3-white w3-round w3-margin">
    <br>
    <h4><a href="/ideas/details/@item.IdeaID">@item.Title</a></h4><br>
    <p>Upload in: @item.CreateDate by: @item.User.Name</p>

    <form action="/ideas/like?idea=@item.IdeaID" method="post" class="w3-theme-d1 w3-margin-bottom">
        <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
        <input type="hidden" name="IdeaID" value="@item.IdeaID" />
        <input type="hidden" name="VoteValue" value="1" />
        @if (item.VotesCount >= 1)
        {
            <button type="submit" class="w3-button"><i class="fa fa-thumbs-up"></i> DisLike</button>
        }
        else
        {
            <button type="submit" class="w3-button"><i class="fa fa-thumbs-up"></i> Like</button>
        }
    </form>
    

    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  @item.CommentCount</button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  @item.Category.CategoryName</button>
</div>
    }

</div>

