@model IEnumerable<_1640_Project.Models.Category>

@{
    ViewBag.Title = "All Category in system";
}



<div class="w3-container" style="padding:50px 16px">
    <h2>All Category in System</h2>
    <p>
        <a href="/admin/categories/create" class="btn btn-outline-primary">Add New Category</a>
    </p>
    <table class="table table-hover table-primary">
        <tr class="thead-dark">
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            </tr>
        }

    </table>

</div>

