@model _1640_Project.Models.Idea

@{
    ViewBag.Title = "Delete";
}

<div class="w3-container row gutters-sm" style="padding:128px 16px">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <h4>@Model.Title</h4>
                        <p class="text-muted font-size-sm">@Model.CreateDate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Title</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Title
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Description
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Create Date</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.CreateDate
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Category</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Category.CategoryName
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Submission</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Submission.SubmissionName
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <form action="/admin/ideas/delete/@Model.IdeaID" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-info ">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>