@model List<_1640_Project.Models.Idea>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <fieldset>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="modal-section-header">
            </div>
        </div>

        <div>
            @using (Html.BeginForm("ExportToExcel", "Down", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div>
                    <input type="submit" value="Export" class="btn-primary" />
                </div>

            }
        </div>

        

    </fieldset>
</body>
</html>
<h2>Ideas Details</h2>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
    <div class="modal-section-header">
        
    </div>

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive gtcustomgrid">
        <table class="table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>IdeaID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Content</th>
                    <th>Date</th>
                    <th>ViewCount</th>
                    <th>UserID</th>
                    <th>CategoryID</th>
                    <th>SubmissionID</th>
                    

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdeaID, new { @id = "IdeaID", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => item.Title, new { @id = "Title", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => item.Description, new { @id = "Description", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => item.Content, new { @id = "Content", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateDate, new { @id = "CreateDate", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => item.ViewCount, new { @id = "ViewCount", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => item.UserID, new { @id = "UserID", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => item.CategoryID, new { @id = "CategoryID", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => item.SubmissionID, new { @id = "SubmissionID", @class = "form-control" })</td>
                        

                        @*<td>
                                @Html.ActionLink("Create New", "Create")
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>*@
                    </tr>
                </tbody>

            }
        </table>
    </div>
</div>
@section scripts{

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>

        $("#upload").click(function () {
            debugger;
            if (window.FormData == undefined)
                alert("Error: FormData is undefined");

            else {
                var fileUpload = $("#postedFile").get(0);
                var files = fileUpload.files;

                var fileData = new FormData();

                fileData.append(files[0].name, files[0]);

                $.ajax({
                    url: '/Down/ImportFromExcel',
                    type: 'post',
                    datatype: 'json',
                    contentType: false,
                    processData: false,
                    async: false,
                    data: fileData,
                    success: function (response) {
                        alert(response);
                    }
                });
            }

        });
    </script>

}  