@model IEnumerable<_1640_Project.Models.Submission>

@{
    ViewBag.Title = "All Submissions in system";
}

<h2>All Submissions in system</h2>

<p>
    <a href="/admin/submissions/create" class="btn btn-outline-primary">Add New Submission</a>
</p>
<table class="table table-hover" >
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalDate)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubmissionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubmissionID })
        </td>
    </tr>
}

</table>
