@model _1640_Project.Models.Idea

@{
    ViewBag.Title = "View";
}

<h2>Views</h2>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submission.SubmissionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submission.SubmissionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>

    </dl>
</div>


@if (Model.CommentCount == 0)
{
    <p>No have any comment!!!</p>
}


<form action="/ideas/addcomment" method="post">
    <textarea name="Content"></textarea>
    <input type="hidden" name="CommentDate" value="@DateTime.Now" />
    <input type="hidden" name="IdeaID" value="@Model.IdeaID" />
    <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
    <input type="hidden" name="VotesCount" value="0" />
    <input type="checkbox" id="hidden-name" name="hidden-name" value="" /> Hidden My Name <br />
    <input class="btn btn-outline-primary" type="submit" value="Add Comment" />
</form>


<table class="table">
    <tr>
        <td>Content</td>
        <td>Date</td>
        <td>User</td>
        <td>Edit</td>
        <td>Like</td>
        <td>Active</td>
    </tr>
    @for (int i = 0; i < Model.CommentCount; i++)
    {
<tr>
    <td>@Model.Comments[i].Content</td>
    <td>@Model.Comments[i].CommentDate</td>
    <td id="display-name">@Model.Comments[i].User.Name</td>
    <td>
        <form id="edit-comment" action="/ideas/editcomment" method="post">
            <input type="hidden" name="CommentID" value="@Model.Comments[i].CommentID" />
            <textarea name="Content"></textarea>
            <input type="hidden" name="CommentDate" value="@DateTime.Now" />
            <input type="hidden" name="IdeaID" value="@Model.IdeaID" />
            <input type="hidden" name="UserID" value="@Session["CurrentUserID"]" />
            <input type="hidden" name="VotesCount" value="@Model.Comments[i].VotesCount" />
            <input class="btn btn-primary" type="submit" value="Edit" />
        </form>
    </td>
    <td>
        @Model.Comments[i].VotesCount
    </td>
    <td>
        @if (Convert.ToInt32(Session["CurrentUserLike"]) == 0 && Model.Comments[i].UserID != Convert.ToInt32(Session["CurrentUserID"]))
        {
            <form action="/ideas/like?idea=@Model.IdeaID&cm=@Model.Comments[i].CommentID" method="post">
                <button class="btn btn-primary" type="submit">Like</button>
            </form>
        }
        else if (Convert.ToInt32(Session["CurrentUserLike"]) == 1 && Model.Comments[i].UserID != Convert.ToInt32(Session["CurrentUserID"]))
        {
    <form action="/ideas/dislike?idea=@Model.IdeaID&cm=@Model.Comments[i].CommentID" method="post">
            <button class="btn btn-danger" type="submit">Dislike</button>
    </form>
        }
    </td>
</tr>
    }
</table>







